html,
body {
  height: 100%;
  margin: 0;
}

main {
  display: flex;
  height: 100%;
}

#imagem-principal {
  width: 50%;
  height: 100%;
  background: rgb(44, 0, 230);
  background: linear-gradient(197deg, rgba(44, 0, 230, 1) 0%, rgba(0, 255, 240, 1) 100%);
}
#wrapper-form-login {
  width: 50%;
  height: 100%;
  display: block;
}

#wrapper-form-login h1{
  text-align: left;
  margin-left: 20%;
  color: #2c00e6;
}

#form-principal label, input{
  display: block;
  text-align: left;
  margin-left: 20%;
  margin-bottom: 10px;
}

#form-principal button{
  margin-left: 50%;
  margin-top: 40px;
}