main {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 4rem;
}

.forms-container {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
}

form {
  width: 50%;
  display: grid;
  align-content: start;
  gap: 1rem;
}

form button {
  max-width: 200px;
}
