.container-principal {
  width: 100%;
  padding: 3rem 8rem 3rem 8rem;
}

.titulo {
  font-size: 2.1875rem;
}

#titulo-adicionar-servicos {
  margin-top: 25px;
}

#container-tabela-principal {
  width: 100%;
  height: fit-content;
  max-height: 30rem;
  overflow-y: auto;
}

.titulo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5625rem;
}

.titulo-container .botao {
  font-size: 1rem;
}

#delete {
  background-color: rgb(190, 0, 0);
}

.titulo-container .input {
  height: unset;
}

#form-filtro {
  display: flex;
  gap: 0.5rem;
}

.input-label-container {
  text-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 30px;
  margin-bottom: 55px;
}

.input-label {
  font-weight: 400;
  width: 100%;
}

input {
  height: 3.4375rem;
}

select {
  height: 3.4375rem;
  background-color: #ffffff;
  color: var(--cor-texto);
}

.botao {
  display: block;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid var(--cor-fundo);
  border-collapse: collapse;
  padding: 20px 10px 20px 10px;
  text-wrap: nowrap;
}

table {
  width: 100%;
  display: none;
}

table thead {
  position: sticky;
  top: 0;
}

th {
  background-color: var(--cor-fundo);
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

td {
  color: var(--cor-texto);
}

.linha {
  transition: all 0.1s;
}

.linha:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 600px) {
  .input-label-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .container-principal {
    padding: 1rem;
  }

  @media only screen and (orientation: landscape) {
    .input-label-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .container-principal {
      padding: 3rem 5rem 3rem 5rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .input-label-container:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 820px) {
  .input-label-container:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media print {
  .header {
    display: none;
  }
  form {
    display: none !important;
  }
  .botao {
    display: none;
  }
  .container-principal {
    font-size: 0.7rem;
    width: 100%;
    padding: 3rem;
  }
  #container-tabela-principal {
    max-height: none;
  }
  table thead {
    position: unset;
  }
  th {
    background-color: #ffffff;
    color: var(--cor-texto);
  }
}
