.titulo{
    text-align: center;
    margin-top: 2.1875rem;
    margin-bottom: 4.4375rem;
}

#div-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.1875rem;
}

select{
    border: 0.5px solid var(--cor-texto);
    width: 36%;
    height: 2.8125rem;
    padding: .625rem .625rem;
    border-radius: .3125rem;
    background-color: #ffffff;
    color: var(--cor-texto);
}

option{
    width: 100%;
}

.input{
    width: 36%;
    height: 2.8125rem;
    color: var(--cor-texto);
}

.input::placeholder{
    color: var(--cor-texto);
}

.botao{
    width: 150px;
    margin-top: 1rem;
}

.logo {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    margin-bottom: 7.5rem;
    padding: 0 6%;
  }
  
  
  @media only screen and (max-height: 700px){
    .logo{
      position:  static;
      margin-top: 7.8125rem;
    }
  }


@media only screen and (max-width: 600px){
    .input{
        width: 75%;
    }
}
  
  