.titulo{
    text-align: center;
    margin-top: 2.1875rem;
    margin-bottom: 4.4375rem;
}

#div-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.1875rem;
}

select{
    border: 0.5px solid var(--cor-texto);
    width: 36%;
    height: 2.8125rem;
    padding: .625rem .625rem;
    border-radius: .3125rem;
    background-color: #ffffff;
    color: var(--cor-texto);
}

option{
    width: 100%;
}

.input{
    width: 100%;
    height: 2.8125rem;
    color: var(--cor-texto);
}

.input::placeholder{
    color: var(--cor-texto);
}

.botao{
    width: max-content;
    margin-top: 1rem;
    font-weight: bold;

}

.logo{
    position: absolute; 
    bottom: 0;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4.4375rem;
}

#wrapper-pergunta{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}