.titulo {
  text-align: center;
  margin-top: 2.1875rem;
  margin-bottom: 4.4375rem;
}

#div-principal {
  display: flex;
  flex-direction: column;
  padding: 0 6%;
  align-items: center;
  justify-content: center;
  gap: 2.1875rem;
}

.input {
  width: 100%;
  height: 3rem;
  color: var(--cor-texto);
}

.input::placeholder {
  color: var(--cor-texto);
}

.botao {
  width: max-content;
  margin-top: 1rem;
  font-weight: bold;
}

.logo {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 7.5rem;
}


@media only screen and (max-height: 700px){
  .logo{
    position:  static;
    margin-top: 7.8125rem;
  }
}


.input-label-container {
  width: 100%;
  max-width: 620px;
  gap: 25px;
  color: var(--cor-texto);
}

.input-label-container label {
  color: var(--cor-texto);
  font-size: 1.25rem;
  font-weight: bold;
}
